// Variables
$inputBorderWith: 4px;
$checkboxSize: 24px;

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #122c64;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border: 2px solid #122c64;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html,
body {
  --ggs: 2;
  width: 100vw;
  overflow-x: hidden;
}
html {
  height: 100vh;
  overflow-y: auto;
  &.no-scroll {
    overflow-y: hidden;
  }
}
body {
  position: relative;
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
  background: rgb(166, 214, 255);
  background: linear-gradient(180deg, rgba(166, 214, 255, 1) 0%, rgba(10, 113, 201, 1) 100%);
  background-attachment: fixed;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

a {
  text-decoration: none;
  color: #e3ebae;
  transition: color 0.1s linear;
  cursor: pointer;

  &:hover {
    color: #fff;

    svg {
      fill: #fff;
    }
  }

  svg {
    fill: #e3ebae;
    transition: fill 0.1s linear;
  }
}
.padded {
  padding: 20px;
}
.box {
  position: relative;
  border-radius: 10px;
  margin: 0 0 30px;
  border-bottom: 10px solid rgba(0, 0, 50, 0.1);
  background: rgba(0, 0, 50, 0.4);

  & > h3:first-child {
    position: relative;
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 7px 10px;
    font-size: 18px;
    background: rgba(0, 0, 50, 0.7);
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

/* form stuff */
input {
  margin: 5px 0;
  border: $inputBorderWith solid transparent;
  border-radius: 10px;
  padding: 5px 10px;

  font-size: 18px;
  color: #fff;
  background: rgba(0, 0, 50, 0.3);
  transition: background 0.25s linear, border-color 0.25s linear;

  &:focus,
  &:active {
    outline: none;
    background: rgba(0, 0, 50, 0.8);
  }
  &.valid {
    border: 4px solid green;
  }
}

span.checkbox {
  input[type="checkbox"] {
    width: $checkboxSize;
    height: $checkboxSize;
  }
  label {
    position: relative;
    padding-left: $checkboxSize + 10;
  }
  label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: $checkboxSize;
    height: $checkboxSize;
    background: black;
  }
}

button {
  display: inline-block;
  border: 0;
  border-radius: 10px;
  padding: 10px 20px;
  outline: 0;
  font-size: 16px;
  color: #fff;
  background: rgba(0, 0, 50, 0.8);
  cursor: pointer;

  &:hover {
    background: rgba(40, 40, 90, 0.8);
  }
  &:active {
    background: rgba(0, 0, 20, 0.9);
  }
}

/* columns */
div[class^="col-"] {
  display: flex;
}
div.col-2 > div {
  flex: 1 1 50%;
}
